  <div id="info">
    info
  </div>
  <div id="tree">
    <%= raw(list) %>
  </div>
  <div id="graph_wrapper">
    <div id="graph" class="graph"></div>
    <div id="graph-server_status:mem:resident" class="graph"></div>
  </div>


  <script type="text/javascript"> 

  $(function () {
    draw_tree();
    draw_graphs();
  });

  </script> 
