  <div id="info_wrapper">
    <%= form_for(@graph) do |g| %>
      <div id="info">
        <div><span class="info_label">Selected Stats: </span><span id="info_keys"></span></div>
        <div><span class="info_label">Start Date/Time: </span><input type="text" id="start_at"/></div>
        <div><span class="info_label">End Date/Time: </span><input type="text" id="end_at"/></div>
      </div>
      <div id="info_buttons">
        <input id="graph_draw" type="button" value="Draw Graph">
        <%= g.submit "Save" %>
      </div>
      <input type="hidden" id="graph_id"/>
      <input type="hidden" id="keys"/>
    <% end %>
  </div>
  <div id="tree_wrapper">
    <div id="tree"><%= raw(list) %></div>
    <div id="tree_buttons">
      <div id="tree_select_none">Clear Selection</div>
    </div>
  </div>
  <div id="graph_wrapper">
    <div id="graph" class="graph"></div>
    <div id="graph-server_status:mem:resident" class="graph"></div>
  </div>


  <script type="text/javascript"> 

  $(function () {
    $('#tree_select_none').click(function() { clear_tree(); });
    $('#graph_draw').click(function() { draw_graphs(); });
    $('#start_at').datetimepicker();
    $('#end_at').datetimepicker();
    draw_tree();
    draw_graphs();
  });

  </script> 
