  <div id="tree">
    <%= raw(list) %>
  </div>
  <div id="graph_wrapper">
    <div id="graph"></div>
  </div>
  <div id="control">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    Control
  </div>

  <script type="text/javascript"> 
  $(function () {

      var data = [];
      for (var i = 0; i < 100; i += 1)
          data.push([i, Math.sin(i/10)]);
 
      var d2 = []; 

      $.ajax({
        url: '/data/server_status|uptimeEstimate',
        async: false,
        dataType: 'json',
        success: function (json) {
          d2 = json;
        }
      });

      $.ajax({
        url: '/data/server_status|uptime',
        async: false,
        dataType: 'json',
        success: function (json) {
          d3 = json;
        }
      });

      var options = {
          xaxis: { mode: "time", timeformat: "%m/%d %h:%M" },
          selection: { mode: "x" }
      };

      var data = [
          { color: "#0000ff", data: d2 },
          { color: "#00ff00", data: d3 },
      ]

      var plot = $.plot($("#graph"), data, options);


      $("#graph").bind("plotselected", function (event, ranges) {
            $("#control").text(ranges.xaxis.from.toFixed(1) + " to " + ranges.xaxis.to.toFixed(1));
            plot = $.plot('#graph', data,
                          $.extend(true, {}, options, {
                              xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                          }));
      });


      $.ui.dynatree.nodedatadefaults["icon"] = false; // Turn off icons

      $("#tree").dynatree({
        checkbox: true,
        onSelect: function(select, node) {
          var selKeys = $.map(node.tree.getSelectedNodes(), function(node){
            return node.data.key;
          });
          $("#control").text(selKeys.join(", "));
        }
      });
  });

  </script> 
