body {
  background-color: #ddd;
}

.content {
  display: block;
  clear: both;
  padding: 0px 10px 10px 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
}
#tree {
  background-color: #fff;
  border: 1px solid #666;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  width: 240px;
  height: 370px;
  display: block;
  float: left;
  overflow: auto;
  clear: both;
}

#graph_wrapper {
  display: block;
  float: left;
  background-color: #fff;
  margin: 0px 10px 10px 0px;
  padding: 5px;
  border: 1px solid #666;
  min-height: 370px;
  width: 900px;
}
.graph {
  display: block;
  float: left;
  margin: 10px;
  width: 870px;
  height: 150px;
}
.graph_title {
  font-weight: bold;
  margin: 5px 0px 0px 10px;
}

#header {
  position: relative;
  padding: 0px;
  margin: 20px 20px 10px 20px;
  width: 1160px;
  height: 35px;
}

#header div {
  padding: 0px;
  margin: 0px;
}
#header div.left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#header div.right {
  position: absolute;
  bottom: 0;
  right: 0;
}

#info {
  background-color: #fff;
  display: block;
  float: left;
  border: 1px solid #666;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  width: 1160px;
  height: 100px;
}
#debug {
  display: block;
  float: left;
  padding: 0px 10px;
  margin: 0px 10px;
  width: 1080px;
}

table, .legend { width: auto; }

.flash {
  width: 1150px;
  display: block;
  clear: both;
  float: left;
  margin: 0px 10px 10px 20px;
}
